/*-- scss:defaults --*/
$primary: #6366f1;
$border-light-color: rgba($black, .14) !default;
$body-dark-mode-bg: $gray-900 !default;
$body-bg: $body-dark-mode-bg;
$body-color: rgba($white, .7) !default;
$link-color: #184fa9;
$input-focus-border-color: #005f7e;
$input-btn-focus-box-shadow: #005f7e;
$dropdown-link-hover-bg: $black;
$dropdown-link-active-bg: $black;
$dropdown-link-hover-color: $white;
$dropdown-link-active-color: $white;
$border-dark-color: rgba($black, .4) !default;
$heading-link-color: rgba($white, .85) !default;
$heading-link-hover-color: $primary !default;
$nav-link-color: $white;
$navbar-dark-color: $white;
$code-color: #f33185 !default;

.navbar {
  box-shadow: rgba(19, 16, 34, 0.06) 0px 4.4px 12px -1px, rgba(19, 16, 34, 0.03) 0px 2px 6.4px -1px;
  background-color: $black !important;
}
